<!DOCTYPE html>
<html>
<head>
  <title>BruisedBacon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row body">
	

 	<div data-magellan-expedition="fixed">
  	<dl class="sub-nav navigation">
    <dd data-magellan-arrival="build"><%=link_to "VENUES", venues_path%></dd>
    <dd data-magellan-arrival="build"><%=link_to "BANDS", bands_path %></dd>
    <dd data-magellan-arrival="build"><%=link_to "EVENTS", events_path %></dd>
    </dl>
</div>
 </div>


<%= yield %>

</body>
</html>
